@model IEnumerable<ContactsWeb.Models.Contact>

@{
    ViewData["Title"] = "Agenda de Contatos";
}

<div class="alert alert-dark row">
    <div class="col-3">
        <a asp-action="Create" class="btn btn-sm btn-outline-dark">Novo contato</a>
    </div>
    <div class="col-9 text-right">
        <span class="align-middle"> @Model.Count() contatos cadastrados</span>
    </div>
</div>

<table class="table table-responsive-xl table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning p-1" style="width: 75px;">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info p-1" style="width: 75px;">Detalhes</a>
                    <a class="btn btn-sm btn-outline-danger p-1" style="width: 75px;" onclick="ConfirmDeletion(@item.Id,'@item.Name')">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atenção</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir o Contato: <text class="nameContact"></text> ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btnClose" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-outline-danger btnDelete" data-dismiss="modal">Sim</button>
            </div>
        </div>
    </div>
</div>
